@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    GB Dashboard LLC<br />
    9119 Glenfair Ct.<br />
    Spring, Tx 77379<br />
    Questions or comments? Give Us A Call <br />
    <abbr title="Phone">P:</abbr>
    (832) 946-1741
</address>

<address>
    <strong>Sales:</strong> <a href="mailto:luzma03est@gmail.com">luzma03est@gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:diegardoariza@gmail.com">diegardoariza@gmail.com</a>
</address>