@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error Page";
}

<hgroup>
    <h1 class="text-danger">Error Page.</h1>
    <h4 class="text-danger">An error occurred while processing your request, please try again or contact us directly.</h4>
</hgroup>
<h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
<br />
<br />  
